<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ tabTitle }}</title>
    <link rel="stylesheet" href="/public/css/styles.min.css">
</head>

<body>
    <h1 class="text-center mt-3">{{ pageTitle }}</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row justify-content-between mb-3 mt-3">

                    {{#each projectList}}
                    <div class="card col-lg-4 col-md-6" id="product-1">
                        <div class="card-body">
                            <h2 class="card-title">{{this.title}}</h2>
                            <p class="card-text">Technologies: {{this.technologies}}</p>
                            <p class="card-text">Decription: {{this.description}}</p>
                            <a class="btn btn-primary" href={{this.link}} role="button">{{this.link}}</a>
                        </div>
                    </div>
                    {{/each}}
                    
                </div>
            </div>
        </div>
    </div>

    <script src="/public/js/vendor.min.js">
    </script>
</body>

</html>